<h1>Hang Man</h1>

<h3>$wordToBeGuessed</h3>
<h3>Number of Guesses: $guessTracker</h3>
<h3>Letters guessed: $guessedLetters</h3>
<form action='hangman'>
  <div class='form-group'>
    <label for='letter-guess'>
    <input class='form-control' id='letter-guess' name='letter-guess' type='text'>
    </label>
  </div>
  <button type='submit' class='btn btn-success'>Guess Letter!</button>
</form>
